/* * {
    color: pink;
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

.tag {
    background-color: red;
    color: #f1faee;
    font-size: 14px;
}


.post a {
    color: #1d3557;
}

footer a {
    color: red;
}