span {
    background-color: palevioletred;
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    margin: 50px;
}

h1 {
    background-color: turquoise;
    border: 1px solid black;
    width: 100px;
    height: 200px;
    padding: 100px;
    margin: 200px;
    display: none;
}

div {
    height: 200px;
    width: 200px;
    background-color: blue;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
    padding: 50px;
}