html {
    font-size: 30px;
}

#percentages {
    background-color: #f6ae6f;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color: #f3cbc4;
    width: 50%;
    height: 50%;
}

#ems h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

#ems {
    font-size: 20px;
}

#ems p {
    font-size: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #045106;
    color: white;
}

#ems ul {
    font-size: 1.5em;
}

#rems h2{
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems ul {
    font-size: 1.2rem;
}

#rems button {
    font-size: 1.5rem;
}