section {
    width: 80%;
    height: 800px;
    /* background-image: url(https://images.unsplash.com/photo-1763811939297-c62d890b987f?q=80&w=765&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center; */
    background: no-repeat center/cover url(https://images.unsplash.com/photo-1763811939297-c62d890b987f?q=80&w=765&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    margin: 0 auto;
    color: white;
    font-size: 100px;
}