/* * {
    color: pink;
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

.tag {
    background-color: red;
    color: #f1faee;
    font-size: 14px;
}


.post a {
    color: #1d3557;
    text-decoration: none;
    font-weight: 700;
}

footer a {
    color: red;
}

input + button {
    background-color: pink;
}

h2 + button {
    font-size: 20px;
}

footer > a {
    color: #1d3557;
}


input[type="password"] {
    color: greenyellow;
}

.post button:hover {
    background-color: red;
    color: white;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: aqua;
}

.post:nth-of-type(2n) {
    background-color: #c9d5c5;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: pink;
}

p::selection {
    background-color: sandybrown;
}